# Directories
/.github export-ignore
/bin export-ignore
/build export-ignore
/build_config export-ignore
/build_readmes export-ignore
/docker-env export-ignore
/plugin-updates export-ignore
/node_modules export-ignore
/.wordpress-org export-ignore
/tests export-ignore

# Files
/.gitattributes export-ignore
/.editorconfig export-ignore
/.gitignore export-ignore
/.dockerignore export-ignore
/.phpunit.result.cache export-ignore
/codeception.dist.yml export-ignore
/CODEOWNERS export-ignore
/composer.lock export-ignore
/docker.hub.key export-ignore
/docker-compose.yml export-ignore
/Makefile export-ignore
/patchwork.json export-ignore
/phpcs.xml export-ignore
/phpstan.dist.neo export-ignore
phpunit.xml export-ignore
/class/utilities/.gitignore export-ignore
/class/utilities/.editorconfig export-ignore
/class/utilities/composer.json export-ignore
/class/utilities/README.txt export-ignore
/class/utilities/metadata.json export-ignore

#/.git export-ignore
#/action.yml export-ignore
#/.gitmodules export-ignore
#/Dockerfile export-ignore
#/entrypoint.sh export-ignore
#/remove_updates.sh export-ignore
