# Directories
/.github export-ignore
/bin export-ignore
/build_readmes export-ignore
/build export-ignore
/docker-env export-ignore
/plugin-updates export-ignore
/node_modules export-ignore
/.wordpress-org export-ignore
/tests export-ignore

# Files
/.gitattributes export-ignore
/.editorconfig export-ignore
/.gitignore export-ignore
/.dockerignore export-ignore
/class/utilities/.gitignore export-ignore
/class/utilities/.editorconfig export-ignore
/class/utilities/composer.json export-ignore
/class/utilities/README.txt export-ignore
/class/utilities/metadata.json export-ignore

#/.git export-ignore
#/action.yml export-ignore
#/.gitmodules export-ignore
#/Dockerfile export-ignore
#/entrypoint.sh export-ignore
#/remove_updates.sh export-ignore
