parameters:
    level: 5
    paths:
        - class-e20r-members-list.php
        - src/members-list
        - tests/wpunit
        - tests/unit
        - tests/functional
        - tests/acceptance
    bootstrapFiles:
    	- tests/bootstrap.php
    	- class-e20r-members-list.php
    excludePaths:
        - inc/
        - tests/*/data/*
        - tests/_*/
        - tests/docker*
        - tests/test_env*
