parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    dynamicConstantNames:
    	- E20R_LICENSING_VERSION
    	- E20R_LICENSE_SERVER_URL
    	- E20R_LICENSING_DEBUG
    	- E20R_MISSING_SETTING
    	- WP_PLUGIN_DIR
    	- WP_LANG_DIR
    parallel:
    	maximumNumberOfProcesses: 2
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
        - '#^Access to an undefined property object::\$cycle_period\.$#'
        - '#^Constant WP_PLUGIN_DIR not found\.$#'
        - '#^Constant WP_LANG_DIR not found\.$#'
    scanDirectories:
        - inc/wp_plugins/00-e20r-utilities
        - inc/
    paths:
        - class-e20r-members-list.php
        - src/
#        - tests/integration
#        - tests/unit
#        - tests/functional
#        - tests/acceptance
    bootstrapFiles:
    	- class-e20r-members-list.php
#    	- tests/_bootstrap.php
    excludePaths:
        - inc/
        - tests/*/data/*
        - tests/_*/
        - tests/_docker*
        - tests/test_env*
