version: "3.2"

services:
  mariadb:
    image: wodby/mariadb:$MARIADB_TAG
    volumes:
      - ./mariadb-init:/docker-entrypoint-initdb.d # Place init .sql file(s) here.
    ports:
      - target: 3306 # MariaDB server
        published: 3307
        protocol: tcp
        mode: host
  nginx:
    volumes:
      - /Volumes/Development/www/clean.local/wp-content/themes/e20r-coaching:/var/www/html/wp-content/themes/e20r-coaching
      - /Volumes/Development/www/clean.local/wp-content/plugins/paid-memberships-pro:/var/www/html/wp-content/plugins/paid-memberships-pro
      - /Volumes/Development/www/clean.local/wp-content/plugins/00-e20r-utilities:/var/www/html/wp-content/plugins/00-e20r-utilities
      # Only mount the composer-prod specific Composer modules (licensing, metrics, plus updater when developing a non-wordpress.org plugin)
      - /Volumes/Development/www/clean.local/wp-content/plugins/00-e20r-utilities/inc/10quality:/var/www/html/wp-content/plugins/00-e20r-utilities/inc/10quality
      - /Volumes/Development/www/clean.local/wp-content/plugins/00-e20r-utilities/inc/composer:/var/www/html/wp-content/plugins/00-e20r-utilities/inc/composer
      - /Volumes/Development/www/clean.local/wp-content/plugins/00-e20r-utilities/inc/mixpanel:/var/www/html/wp-content/plugins/00-e20r-utilities/inc/mixpanel
      - /Volumes/Development/www/clean.local/wp-content/plugins/00-e20r-utilities/inc/autoload.php:/var/www/html/wp-content/plugins/00-e20r-utilities/inc/autoload.php
      - /Volumes/Development/www/clean.local/wp-content/plugins/e20r-members-list:/var/www/html/wp-content/plugins/e20r-members-list:ro
    ports:
      - target: 80 # Web server
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host

  php:
    image: wodby/wordpress:$WORDPRESS_TAG
    user: wodby
    environment:
      PHP_FPM_CLEAR_ENV: "no"
      DB_NAME: clean
      PHP_FPM_USER: wodby
      PHP_FPM_GROUP: wodby
      ## Read instructions at https://wodby.com/stacks/wordpress/docs/local/xdebug/
      PHP_XDEBUG: 1
      PHP_XDEBUG_DEFAULT_ENABLE: 1
      PHP_XDEBUG_REMOTE_AUTOSTART: 1
      PHP_XDEBUG_REMOTE_CONNECT_BACK: 1
      PHP_IDE_CONFIG: serverName=my-ide
      # PHP_XDEBUG_REMOTE_HOST: 172.17.0.1 # Linux
      PHP_XDEBUG_REMOTE_HOST: 10.0.0.27 # macOS
    #      PHP_XDEBUG_REMOTE_HOST: 10.0.75.1 # Windows
    volumes:
      - ./:/var/www/html
      - /Volumes/Development/www/clean.local/wp-content/themes/e20r-coaching:/var/www/html/wp-content/themes/e20r-coaching
      - /Volumes/Development/www/clean.local/wp-content/plugins/paid-memberships-pro:/var/www/html/wp-content/plugins/paid-memberships-pro
      - /Volumes/Development/www/clean.local/wp-content/plugins/00-e20r-utilities:/var/www/html/wp-content/plugins/00-e20r-utilities
      # Only mount the composer-prod specific Composer modules (licensing, metrics, plus updater when developing a non-wordpress.org plugin)
      - /Volumes/Development/www/clean.local/wp-content/plugins/00-e20r-utilities/inc/10quality:/var/www/html/wp-content/plugins/00-e20r-utilities/inc/10quality
      - /Volumes/Development/www/clean.local/wp-content/plugins/00-e20r-utilities/inc/composer:/var/www/html/wp-content/plugins/00-e20r-utilities/inc/composer
      - /Volumes/Development/www/clean.local/wp-content/plugins/00-e20r-utilities/inc/mixpanel:/var/www/html/wp-content/plugins/00-e20r-utilities/inc/mixpanel
      - /Volumes/Development/www/clean.local/wp-content/plugins/00-e20r-utilities/inc/autoload.php:/var/www/html/wp-content/plugins/00-e20r-utilities/inc/autoload.php
      - /Volumes/Development/www/clean.local/wp-content/plugins/e20r-members-list:/var/www/html/wp-content/plugins/e20r-members-list:ro
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:development.local"

  traefik:
    image: traefik:alpine
    ports:
      # Dashboard
      - target: 8080
        published: 8080
        protocol: tcp
        mode: host
    # volumes:
    #   - ./traefik:/etc
